* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.calculator-layout {
    height: 600px;
    width: 400px;
    background-color: #08B2E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
}

.calculator-display{
    height: 90px;
    width: 90%;
    background-color: #F9F9F9;
    font-size: 3.5rem;
    padding: 10px;
    text-align: right;
    overflow-x: auto;
}

.calculator-button{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 20px;
}

.button{
    background-color: #F9F9F9;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
}
